body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
<<<<<<< HEAD
  width:834px;
=======
  width:434px;
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1382_img {
=======
#u1376_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1382 {
=======
#u1376 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1382_text {
=======
#u1376_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1383_div {
=======
#u1377_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1383 {
=======
#u1377 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:111px;
  width:375px;
  height:667px;
}
<<<<<<< HEAD
#u1383_text {
=======
#u1377_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1384 {
=======
#u1378 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1385_img {
=======
#u1379_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1385 {
=======
#u1379 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1385_text {
=======
#u1379_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1386 {
=======
#u1380 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1387_div {
=======
#u1381_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1387 {
=======
#u1381 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:141px;
  width:300px;
  height:38px;
  color:#999999;
}
<<<<<<< HEAD
#u1387_text {
=======
#u1381_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1388 {
=======
#u1382 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:51px;
  top:148px;
  width:258px;
  height:25px;
}
<<<<<<< HEAD
#u1388_input {
=======
#u1382_input {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
<<<<<<< HEAD
#u1389_img {
=======
#u1383_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u1389 {
=======
#u1383 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:309px;
  top:148px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u1389_text {
=======
#u1383_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1390_div {
=======
#u1384_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
<<<<<<< HEAD
#u1390 {
=======
#u1384 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:357px;
  top:148px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
<<<<<<< HEAD
#u1390_text {
=======
#u1384_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1391 {
=======
#u1385 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1392_div {
=======
#u1386_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1392 {
=======
#u1386 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:189px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1392_text {
=======
#u1386_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1393_div {
=======
#u1387_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1393 {
=======
#u1387 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:196px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1393_text {
=======
#u1387_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1394_div {
=======
#u1388_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1394 {
=======
#u1388 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:212px;
  width:61px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1394_text {
=======
#u1388_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1395_div {
=======
#u1389_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1395 {
=======
#u1389 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:209px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1396 {
=======
#u1389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1390 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1397_div {
=======
#u1391_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1397 {
=======
#u1391 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:262px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1397_text {
=======
#u1391_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1398_div {
=======
#u1392_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1398 {
=======
#u1392 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:269px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1398_text {
=======
#u1392_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1399_div {
=======
#u1393_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1399 {
=======
#u1393 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:285px;
  width:69px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1399_text {
=======
#u1393_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:72px;
  white-space:nowrap;
}
#u1400_div {
=======
  width:69px;
  white-space:nowrap;
}
#u1394_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1400 {
=======
#u1394 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:282px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1401 {
=======
#u1394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1395 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1402_div {
=======
#u1396_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1402 {
=======
#u1396 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:334px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1402_text {
=======
#u1396_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1403_div {
=======
#u1397_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1403 {
=======
#u1397 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:341px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1403_text {
=======
#u1397_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1404_div {
=======
#u1398_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1404 {
=======
#u1398 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:357px;
  width:73px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1404_text {
=======
#u1398_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:72px;
  white-space:nowrap;
}
#u1405_div {
=======
  width:73px;
  white-space:nowrap;
}
#u1399_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1405 {
=======
#u1399 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:354px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1406 {
=======
#u1399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1400 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1407_div {
=======
#u1401_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1407 {
=======
#u1401 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:407px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1407_text {
=======
#u1401_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1408_div {
=======
#u1402_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1408 {
=======
#u1402 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:414px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1408_text {
=======
#u1402_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1409_div {
=======
#u1403_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1409 {
=======
#u1403 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:430px;
  width:73px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1409_text {
=======
#u1403_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:72px;
  white-space:nowrap;
}
#u1410_div {
=======
  width:73px;
  white-space:nowrap;
}
#u1404_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1410 {
=======
#u1404 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:427px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:111px;
  width:365px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
=======
#u1404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
