body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
<<<<<<< HEAD
  width:834px;
=======
  width:434px;
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1543_img {
=======
#u1512_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1543 {
=======
#u1512 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1543_text {
=======
#u1512_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1544_div {
=======
#u1513_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1544 {
=======
#u1513 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:111px;
  width:375px;
  height:667px;
}
<<<<<<< HEAD
#u1544_text {
=======
#u1513_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1545_div {
=======
#u1514_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:275px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1545 {
=======
#u1514 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:111px;
  width:375px;
  height:275px;
}
<<<<<<< HEAD
#u1545_text {
=======
#u1514_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1546 {
=======
#u1515 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1547_img {
=======
#u1516_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1547 {
=======
#u1516 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1547_text {
=======
#u1516_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1548_img {
=======
#u1517_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:182px;
}
<<<<<<< HEAD
#u1548 {
=======
#u1517 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:204px;
  width:375px;
  height:182px;
}
<<<<<<< HEAD
#u1548_text {
=======
#u1517_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1549_img {
=======
#u1518_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1549 {
=======
#u1518 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:42px;
  top:144px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1549_text {
=======
#u1518_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1550_div {
=======
#u1519_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1550 {
=======
#u1519 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:48px;
  top:283px;
  width:73px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1550_text {
=======
#u1519_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1551_div {
=======
#u1520_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1551 {
=======
#u1520 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:48px;
  top:336px;
  width:75px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u1551_text {
=======
#u1520_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:75px;
  white-space:nowrap;
}
#u1552_img {
=======
  width:76px;
  white-space:nowrap;
}
#u1521_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
<<<<<<< HEAD
#u1552 {
=======
#u1521 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:128px;
  top:339px;
  width:7px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
<<<<<<< HEAD
#u1552_text {
=======
#u1521_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1553_div {
=======
#u1522_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1553 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:139px;
=======
#u1522 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:329px;
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1554_img {
=======
#u1522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1523_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u1554 {
=======
#u1523 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:48px;
  top:401px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u1554_text {
=======
#u1523_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1555_div {
=======
#u1524_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
  text-align:center;
}
<<<<<<< HEAD
#u1555 {
=======
#u1524 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:363px;
  top:396px;
  width:24px;
  height:32px;
  font-size:28px;
  color:#999999;
  text-align:center;
}
<<<<<<< HEAD
#u1555_text {
=======
#u1524_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:25px;
  white-space:nowrap;
}
#u1556_div {
=======
  width:24px;
  white-space:nowrap;
}
#u1525_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:198px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1556 {
=======
#u1525 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:447px;
  width:375px;
  height:198px;
}
<<<<<<< HEAD
#u1556_text {
=======
#u1525_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1557_div {
=======
#u1526_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
<<<<<<< HEAD
#u1557 {
=======
#u1526 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:98px;
  top:400px;
  width:92px;
  height:19px;
  font-size:16px;
  color:#999999;
}
<<<<<<< HEAD
#u1557_text {
=======
#u1526_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:92px;
  white-space:nowrap;
}
#u1558_div {
=======
  width:98px;
  white-space:nowrap;
}
#u1527_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
<<<<<<< HEAD
#u1558 {
=======
#u1527 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:98px;
  top:422px;
  width:128px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
<<<<<<< HEAD
#u1558_text {
=======
#u1527_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1559_img {
=======
#u1528_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
<<<<<<< HEAD
#u1559 {
=======
#u1528 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:119px;
  top:664px;
  width:30px;
  height:30px;
}
<<<<<<< HEAD
#u1559_text {
=======
#u1528_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1560_img {
=======
#u1529_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
<<<<<<< HEAD
#u1560 {
=======
#u1529 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:79px;
  top:664px;
  width:30px;
  height:30px;
}
<<<<<<< HEAD
#u1560_text {
=======
#u1529_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1561_img {
=======
#u1530_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
<<<<<<< HEAD
#u1561 {
=======
#u1530 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:39px;
  top:664px;
  width:30px;
  height:30px;
}
<<<<<<< HEAD
#u1561_text {
=======
#u1530_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1562_img {
=======
#u1531_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
<<<<<<< HEAD
#u1562 {
=======
#u1531 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:363px;
  top:607px;
  width:32px;
  height:32px;
}
<<<<<<< HEAD
#u1562_text {
=======
#u1531_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1563_img {
=======
#u1532_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u1563 {
=======
#u1532 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:48px;
  top:709px;
  width:40px;
  height:40px;
}
<<<<<<< HEAD
#u1563_text {
=======
#u1532_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1564_div {
=======
#u1533_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
  text-align:center;
}
<<<<<<< HEAD
#u1564 {
=======
#u1533 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:363px;
  top:704px;
  width:24px;
  height:32px;
  font-size:28px;
  color:#999999;
  text-align:center;
}
<<<<<<< HEAD
#u1564_text {
=======
#u1533_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:25px;
  white-space:nowrap;
}
#u1565_div {
=======
  width:24px;
  white-space:nowrap;
}
#u1534_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
<<<<<<< HEAD
#u1565 {
=======
#u1534 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:98px;
  top:708px;
  width:92px;
  height:19px;
  font-size:16px;
  color:#999999;
}
<<<<<<< HEAD
#u1565_text {
=======
#u1534_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:92px;
  white-space:nowrap;
}
#u1566_div {
=======
  width:98px;
  white-space:nowrap;
}
#u1535_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
<<<<<<< HEAD
#u1566 {
=======
#u1535 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:98px;
  top:730px;
  width:128px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
<<<<<<< HEAD
#u1566_text {
=======
#u1535_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1567_div {
=======
#u1536_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1567 {
=======
#u1536 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:759px;
  width:375px;
  height:19px;
}
<<<<<<< HEAD
#u1567_text {
=======
#u1536_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:311px;
  width:145px;
  height:37px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:111px;
  width:365px;
  height:667px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
=======
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
