body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
<<<<<<< HEAD
  width:667px;
=======
  width:434px;
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1482_img {
=======
#u1460_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1482 {
=======
#u1460 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1482_text {
=======
#u1460_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1483_div {
=======
#u1461_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1483 {
=======
#u1461 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:111px;
  width:375px;
  height:667px;
}
<<<<<<< HEAD
#u1483_text {
=======
#u1461_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1484 {
=======
#u1462 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1485_img {
=======
#u1463_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1485 {
=======
#u1463 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1485_text {
=======
#u1463_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1486 {
=======
#u1464 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1487_div {
=======
#u1465_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1487 {
=======
#u1465 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:141px;
  width:300px;
  height:38px;
  color:#999999;
}
<<<<<<< HEAD
#u1487_text {
=======
#u1465_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1488 {
=======
#u1466 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:51px;
  top:148px;
  width:258px;
  height:25px;
}
<<<<<<< HEAD
#u1488_input {
=======
#u1466_input {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:25px;
<<<<<<< HEAD
  font-family:'Arial Normal', 'Arial';
=======
  font-family:'ArialMT', 'Arial';
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
<<<<<<< HEAD
#u1489_img {
=======
#u1467_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u1489 {
=======
#u1467 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:309px;
  top:148px;
  width:25px;
  height:25px;
}
<<<<<<< HEAD
#u1489_text {
=======
#u1467_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1490_div {
=======
#u1468_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
<<<<<<< HEAD
#u1490 {
=======
#u1468 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:357px;
  top:148px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
<<<<<<< HEAD
#u1490_text {
=======
#u1468_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:114px;
  width:201px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
=======
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
