body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1745_img {
=======
#u1684_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1745 {
=======
#u1684 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1745_text {
=======
#u1684_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1746_div {
=======
#u1685_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1746 {
=======
#u1685 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:111px;
  width:375px;
  height:667px;
}
<<<<<<< HEAD
#u1746_text {
=======
#u1685_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1747 {
=======
#u1686 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1748_img {
=======
#u1687_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1748 {
=======
#u1687 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1748_text {
=======
#u1687_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1749_img {
=======
#u1688_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1749 {
=======
#u1688 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:42px;
  top:144px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1749_text {
=======
#u1688_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1750_div {
=======
#u1689_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1750 {
=======
#u1689 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:188px;
  top:144px;
  width:41px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1750_text {
=======
#u1689_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1751 {
=======
#u1690 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1752 {
=======
#u1691 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1753_div {
=======
#u1692_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
<<<<<<< HEAD
#u1753 {
=======
#u1692 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:52px;
  top:214px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
<<<<<<< HEAD
#u1753_text {
=======
#u1692_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1754_img {
=======
#u1693_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1754 {
=======
#u1693 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:376px;
  top:216px;
  width:15px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
<<<<<<< HEAD
#u1754_text {
=======
#u1693_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1755 {
=======
#u1694 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1756 {
=======
#u1695 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1757_div {
=======
#u1696_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
<<<<<<< HEAD
#u1757 {
=======
#u1696 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:52px;
  top:286px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#666666;
}
<<<<<<< HEAD
#u1757_text {
=======
#u1696_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1758_img {
=======
#u1697_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1758 {
=======
#u1697 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:376px;
  top:288px;
  width:15px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
<<<<<<< HEAD
#u1758_text {
=======
#u1697_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1759 {
=======
#u1698 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1760 {
=======
#u1699 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1761_div {
=======
#u1700_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
<<<<<<< HEAD
#u1761 {
=======
#u1700 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:52px;
  top:358px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#666666;
}
<<<<<<< HEAD
#u1761_text {
=======
#u1700_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
