body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1719_img {
=======
#u1658_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1719 {
=======
#u1658 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
<<<<<<< HEAD
#u1719_text {
=======
#u1658_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1720_div {
=======
#u1659_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1720 {
=======
#u1659 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:111px;
  width:375px;
  height:667px;
}
<<<<<<< HEAD
#u1720_text {
=======
#u1659_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1721 {
=======
#u1660 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1722_img {
=======
#u1661_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1722 {
=======
#u1661 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:366px;
  height:15px;
}
<<<<<<< HEAD
#u1722_text {
=======
#u1661_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1723 {
=======
#u1662 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1724_div {
=======
#u1663_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1724 {
=======
#u1663 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:189px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1724_text {
=======
#u1663_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1725_div {
=======
#u1664_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1725 {
=======
#u1664 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:196px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1725_text {
=======
#u1664_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1726_div {
=======
#u1665_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1726 {
=======
#u1665 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:212px;
  width:101px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1726_text {
=======
#u1665_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1727_div {
=======
#u1666_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1727 {
=======
#u1666 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:209px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
<<<<<<< HEAD
#u1727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1728 {
=======
#u1666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1667 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1729_div {
=======
#u1668_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1729 {
=======
#u1668 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:262px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1729_text {
=======
#u1668_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1730_div {
=======
#u1669_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1730 {
=======
#u1669 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:269px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1730_text {
=======
#u1669_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1731_div {
=======
#u1670_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1731 {
=======
#u1670 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:285px;
  width:133px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1731_text {
=======
#u1670_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:133px;
  white-space:nowrap;
}
#u1732 {
=======
  width:134px;
  white-space:nowrap;
}
#u1671 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1733_div {
=======
#u1672_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1733 {
=======
#u1672 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:334px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1733_text {
=======
#u1672_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1734_div {
=======
#u1673_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1734 {
=======
#u1673 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:341px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1734_text {
=======
#u1673_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1735_div {
=======
#u1674_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1735 {
=======
#u1674 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:357px;
  width:81px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1735_text {
=======
#u1674_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1736 {
=======
#u1675 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u1737_div {
=======
#u1676_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
<<<<<<< HEAD
#u1737 {
=======
#u1676 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:30px;
  top:407px;
  width:375px;
  height:73px;
  color:#999999;
}
<<<<<<< HEAD
#u1737_text {
=======
#u1676_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1738_div {
=======
#u1677_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1738 {
=======
#u1677 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:43px;
  top:414px;
  width:59px;
  height:59px;
}
<<<<<<< HEAD
#u1738_text {
=======
#u1677_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1739_div {
=======
#u1678_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1739 {
=======
#u1678 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:112px;
  top:430px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1739_text {
=======
#u1678_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1740_img {
=======
#u1679_img {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1740 {
=======
#u1679 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:42px;
  top:144px;
  width:15px;
  height:26px;
}
<<<<<<< HEAD
#u1740_text {
=======
#u1679_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u1741_div {
=======
#u1680_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1741 {
=======
#u1680 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:282px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1742_div {
=======
#u1680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1681_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1742 {
=======
#u1681 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:353px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1743_div {
=======
#u1681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1682_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1743 {
=======
#u1682 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:188px;
  top:144px;
  width:61px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
<<<<<<< HEAD
#u1743_text {
=======
#u1682_text {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u1744_div {
=======
#u1683_div {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1744 {
=======
#u1683 {
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  border-width:0px;
  position:absolute;
  left:327px;
  top:427px;
  width:66px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
<<<<<<< HEAD
#u1744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
=======
#u1683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
>>>>>>> 11f916de58455cd4e904eb1208ff9ca9c53a81ad
  width:62px;
  word-wrap:break-word;
}
