body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:888px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:111px;
  width:375px;
  height:667px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:15px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:114px;
  width:366px;
  height:15px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:729px;
  width:375px;
  height:49px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:734px;
  width:40px;
  height:40px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:734px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:734px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:734px;
  width:40px;
  height:40px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:734px;
  width:40px;
  height:40px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:176px;
  width:63px;
  height:63px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:183px;
  width:127px;
  height:19px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:213px;
  width:127px;
  height:19px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:192px;
  width:41px;
  height:28px;
  font-size:20px;
  color:#666666;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:265px;
  width:41px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:265px;
  width:61px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:265px;
  width:41px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:375px;
  width:40px;
  height:40px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:380px;
  width:106px;
  height:12px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:399px;
  width:75px;
  height:12px;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:370px;
  width:24px;
  height:32px;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:421px;
  width:375px;
  height:170px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:686px;
  width:30px;
  height:27px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:686px;
  width:27px;
  height:27px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:598px;
  width:353px;
  height:77px;
  color:#999999;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  word-wrap:break-word;
}
