body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:878px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:23px;
  width:426px;
  height:878px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:653px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:133px;
  width:368px;
  height:653px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:878px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:23px;
  width:426px;
  height:878px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:655px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:133px;
  width:368px;
  height:655px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:878px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:23px;
  width:426px;
  height:878px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:655px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:132px;
  width:368px;
  height:655px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
